<%= form_for(@page, :class=>"form") do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br />
    <%= f.text_field :title, :class=>'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :content %><br />
    <%= f.text_area :content, :class=>'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :slug %><br />
    <%= f.text_field :slug, :class=>'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
