<h1>Listing pages</h1>

<table class="table table-striped table-bordered table-hover">
  <thead>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Slug</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @pages.each do |page| %>
      <tr>
        <td><%= page.title %></td>
        <td><%= page.content %></td>
        <td><%= page.slug %></td>
        <td><%= link_to 'Show', page %></td>
        <td><%= link_to 'Edit', edit_page_path(page) %></td>
        <td><%= link_to 'Destroy', page, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'New Page', new_admin_page_path %>
