<div class="page-header"><h1>Campos de Treinamento</h1></div>

<% @camps.each do |camp| %>
    <h2><%= camp.name %></h2>
    <div class="row well">
        <div class="col-md-5">
            <%= image_tag camp.picture.url %>
        </div>
        <div class="col-md-7">
            <%= @markdown.render(camp.description).html_safe %>
            <%= link_to "Mapa", camp.map if current_user and not camp.map.blank? and (current_user.role?(%W(Usuário Administrador))) %>
        </div>
    </div>
<% end %>