<%= form_for(@game_calendar, :url => "/admin/game_calendars/" + @game_calendar.id.to_s) do |f| %>
    <% if @game_calendar.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@game_calendar.errors.count, "error") %> prohibited this game_calendar from being
                saved:</h2>

            <ul>
                <% @game_calendar.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="form-group">
        <%= f.label :date, "Quando" %><br/>
        <%= f.datetime_select :date, :class => "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :location, "CT / Local" %><br/>
        <%= f.text_field :location, :class => "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :map, "Google Maps" %><br/>
        <%= f.text_field :map, :class => "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :title, "Nome do Jogo" %><br/>
        <%= f.text_field :title, :class => "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :provider, "Organizador" %><br/>
        <%= f.text_field :provider, :class => "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :instructions, "Instruções" %><br/>
        <%= f.text_area :instructions, :class => "form-control markitup" %>
    </div>
    <div class="form-group">
        <%= f.submit "Adicionar Jogo", :class=>"btn btn-primary" %>
    </div>
<% end %>
