<div class="page-header"><h1>Jogos</h1></div>

<table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
        <th>Quando</th>
        <th>Onde</th>
        <th>Quem</th>
        <th>O Que</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <% @game_calendars.each do |game_calendar| %>
        <tr>
            <td><%= game_calendar.date %></td>
            <td><%= game_calendar.location %></td>
            <td><%= game_calendar.provider %></td>
            <td><%= game_calendar.title %></td>
            <td><%= link_to 'Editar', edit_admin_game_calendar_path(game_calendar) %></td>
            <td><%= link_to 'Apagar', admin_game_calendar_path(game_calendar), confirm: 'Certeza?', method: :delete %></td>
        </tr>
    <% end %>
    </tbody>
</table>
<%= link_to 'Novo Jogo', new_admin_game_calendar_path %>
