<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @game_calendar.date %>
</p>

<p>
  <b>Location:</b>
  <%= @game_calendar.location %>
</p>

<p>
  <b>Map:</b>
  <%= @game_calendar.map %>
</p>

<p>
  <b>Instructions:</b>
  <%= @game_calendar.instructions %>
</p>

<p>
  <b>Title:</b>
  <%= @game_calendar.title %>
</p>

<p>
  <b>Provider:</b>
  <%= @game_calendar.provider %>
</p>


<%= link_to 'Edit', edit_game_calendar_path(@game_calendar) %> |
<%= link_to 'Back', game_calendars_path %>
