<style type="text/css">
    .well-tall {
        height: 300px;;
    }
</style>

<div class="container">
    <div class="row">
        <h1 class="sr-only">Login</h1>

        <div class="col-md-6">
            <div class="page-header"><h3>Usuário cadastrado</h3></div>
            <div class="well well-tall">
                <p class="lead">Bem vindo de volta, combatente!</p>

                <p class="text-center">
                    <%= link_to image_tag("facebook_login.png", :alt => "Conectar com facebook"),
                                user_omniauth_authorize_path(:facebook) %>
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="page-header"><h3>Novo usuário</h3></div>
            <div class="well well-tall">
                <p>
                    O G.O.T Airsoft Team é um grupo fechado, para fazer parte do grupo você deve preencher alguns
                    requisitos, leia atentamente nosso
                    <strong><%= link_to "estatuto", "/documents/estatuto.pdf" %></strong>.
                </p>

                <p>
                    Todos os nossos integrantes tem que conhecer e estar de pleno acordo com nosso estatuto,
                    se você estiver de acordo e quiser fazer parte do nosso grupo, clique no botão do facebook ao lado
                    e aguarde o contato do nosso comando.
                </p>
            </div>
        </div>
    </div>
</div>