<div class="page-header"><h1>Novo Combatente</h1></div>
<div class="row">
    <div class="col-md-12">
        <p class="lead">
            Bem vindo ao G.O.T Airsoft Team. Para fazer parte do nosso grupo é preciso que você leia atentamente
            nosso <strong><%= link_to "estatuto", "/documents/estatuto.pdf" %></strong>, estar completamente de acordo
            e preencher todos os requisitos necessários.
        </p>

        <p>
            Entraremos em contato com você pelo email cadastrado em seu facebook, a aprovação do comando é crucial
            para manter a segurança dos outros combatentes.
        </p>
    </div>
</div>