<div class="page-header"><h1>Airsoft</h1></div>
<h5>O que é?</h5>

<p>
    O AIRSOFT é um esporte que simula situações diversas de combate. Para isso são usadas bolinhas de
    plástico (bbs) de 6mm de diâmetro. São rígidas, não possuindo nenhum tipo de tinta, ou sistema de
    marcação .
    As armas são replicas externas de armas de fogo reais classificados pelo Exercito Brasileiro como Tipo
    Simulacro, onde, seu mecanismo interno em nada se assemelha com as armas de fogo reais, sendo impossível
    qualquer conversão das armas de Airsoft para o uso com munição real .
    Más aí vem aquela pergunta : se não tem tinta ou qualquer outro tipo de marcação, como é que sabemos que
    acertamos a pessoa do time oponente ?
    Simples ! O Airsoft é um jogo cuja o pilar principal é a HONRA e a LEALDADE dos jogadores . Assim quando
    um jogador for atingido , ele acusa imediatamente o acerto e sai do jogo . A HONESTIDADE do jogador é
    então, fundamental para o desenrolar do esporte e sua popularização pelo mundo . Sem a honestidade o
    Airsoft não sobrevive.
</p>

<p>
    Se você deseja jogar como um Rambo "O incenssível", ou como um Raylander "O imortal" , partindo deste
    princípio, mantenha-se longe do Airsoft. Não entre para este esporte, pois logo este tipo de jogador é
    deixado de lado nos eventos , e pode muitas vezes, ser expulso de um jogo ou organização .
    Se a intenção básica do esporte é de simular situações de combate , busca-se o realismo em todos os
    aspectos, desde as vestimentas, armamentos, simulações militares e disciplina . Os jogos são compostos
    por duas ou mais equipes , vencendo a equipe que conseguir cumprir com seu objetivo primeiro .
    ​</p>

<h5>Onde Surgiu?</h5>

<p>
    Surgiu no Japão na década de 70 , sendo hoje um esporte muito popular em todo mundo . No Japão, é quase
    um esporte nacional . Nos Estados Unidos , todo ano ocorre a Operação IRENE, no qual uma base de
    treinamento do exercito é utilizada para a realização do evento que dura um fim de semana inteiro . Em
    outros paises , eventos como BERGET (europeu) reúne milhares de entusiastas .
</p>
<h5>As Armas</h5>

<p>
    As armas de airsoft são enquadradas como ARMAS DE PRESSÃO, de acordo com os decretos e portarias do
    Exército Brasileiro (R-105 e Portaria Nº 02 COLOG, de 26 fevereiro de 2010).
    Basicamente há três tipos de armas: elétricas, a gás e à mola.
    As mais comuns, e a que é mais indicada para que desejam ingressar no esporte são as armas elétrica,
    também conhecidas como:
    ﻿</p>

<p>
    ﻿AEG – automatic eletric gun
    São armas que utilizam uma bateria, um motor e um sistema de engrenagens e pistão para comprimir uma
    mola e expelir o projétil. O diagrama abaixo exemplifica o funcionamento interno destas armas, 90% das
    armas dessa categoria são armas longas, tais quais submetralhadoras, rifles, fuzis, etc., mas existem
    pistolas elétricas.
    ﻿</p>

<p>﻿
    ﻿O segundo tipo são as armas que utilizam gás. Em sua maioria são pistolas com um sistema que imita o
    recuo das armas de fogo. São as chamadas
    ​</p>

<p>
    GBB – gás blowback
    Atualmente apareceu no mercado algumas armas longas que utilizam gás, porém ainda são raras.
    ﻿</p>

<p>﻿
    ﻿Por fim temos as armas que utilizam a compressão manual da mola para comprimir o ar e expelir as bb’s.
    São as
    ​﻿</p>

<p>
    Springers, os Snipers e as shotguns
    Tirando as springers que são as armas mais simples, de baixa qualidade e sem capacidade de serem
    utilizadas nos jogos, as armas Snipers utilizam esse sistema, bem como as shotguns.
    ﻿</p>

<h5>As Munições (BB's)</h5>

<p>
    São esféricas, feitas de plástico ou algum composto biodegradável, e com diâmetro de 6 mm. Possuem
    diversas gramaturas, sendo as mais comuns de 0.2 g e 0.25g para aegs, gbbs, e demais armas; e 0.3g para
    snipers.
    ​﻿</p>

<p>
    Os leigos confundem o airsoft com paintball. Mas, existem muitas diferenças entre o eles. Podemos
    destacar:
    Preço da munição é mais barato no airsoft.
    No airsoft utilizam-se armas de pressão, que são “réplicas” externas de armas de fogo reais e com isto
    temos mais realismo nos jogos.
    Os tiros não machucam tanto quanto o paintball, pois os projéteis não precisam estourar.
    A roupa e os equipamentos não ficam manchados de tinta.
    ﻿</p>

<p>
    Busca-se a realidade, tanto nos armas, como nas vestimentas e no comportamento tático dos jogadores.
    A HONRA é a base do esporte.
    ﻿</p>


<p>
    <small>* texto extraído do site do <%= link_to "SJC Airsoft Team",
                                                   "http://sjcairsoftteam.wix.com/sjcairsoftteam" %></small>
</p>
