<div class="page-header"><h1>Regras e Conduta</h1></div>
<p class="lead">
    O Airsoft, como qualquer esporte é muito seguro se alguns cuidados forem tomados. Todos os esportes possuem regras
    básicas de segurança e o mesmo ocorre com o airsoft. Sem certas precauções, o que seria para ser divertido pode se
    tornar perigoso.
</p>

<p>
    A Airsoft Brasil, que vem lutando pelo airsoft no país, tem conciência de que algumas regras básicas de segurança
    precisam ser seguidas. Somente assim conseguiremos manter o alto nível de segurança nas partidas e até mesmo fora.
    Antes de mais nada, uma arma de pressão de airsoft não pode ser considerada como um brinquedo. Ela é um equipamento
    que deve ser utilizado de forma inteligente e responsável.
    O Airsoft é antes de tudo diversão, honra e amizade. Vamos fazer com que o esporte seja sempre bem visto pela
    sociedade e que o espírito competitivo não destruia a camaradagem entres equipes e jogadores, pois devemos sempre
    lembrar que a HONRA é a palavra chave que mantêm o esporte vivo.
    As imagens aqui apresentadas foram retiradas do manual de segurança da Tokyo Marui. O texto foi adaptado e acrescido
    de pontos que consideramos importantes.
    ​</p>

<h5>SEMPRE USE PROTEÇÃO NOS OLHOS!</h5>
<p>
    Quando você for usar uma arma de pressão de airsoft, observe se todos os presentes estão usando proteção nos olhos.
    Nunca dispare uma arma de pressão de airsoft quando houver pessoas sem proteção, pois mesmo se você não estiver
    mirando em alguém, existe a possibilidade de ricochete.
​</p>
​​
<h5>​​NUNCA ATIRE NA DIREÇÃO DE PESSOA OU ANIMAL!</h5>
<p>
    Nunca dispare uma arma de pressão de airsoft contra uma pessoa ou animal, nem uso-os como alvos.
    Deixe sua arma de pressão de airsoft sempre com a tampa protetora quando não estiver em uma partida.
    Só dispare contra alguém quando esta pessoa estiver na mesma situação que você, ou seja, participando de um jogo.
</p>
​​
<h5>NUNCA USE SUA ARMA DE PRESSÃO DE AIRSOFT PARA BRINCADEIRAS!</h5>
​<p>
    Nunca use uma arma de pressão de airsoft para brincadeiras de mau gosto, para pregar peça em alguém ou ainda como
    acessório de uma fantasia.
    Atirar em pessoas ou danificar propriedade alheia pode lhe causar prejuízos e problemas com as autoridades locais.
    Seja responsável e use suas armas de pressão de airsoft de forma iteligente.
</p>​
​
<h5>SEMPRE USE A TAMPA PROTETORA!</h5>
<p>
    Sempre deixe sua arma de pressão de airsoft com a tampa protetora quando não estiver usando. Com isto você evita
    acidentes e ainda proteje seu cano contra a poeira.
    Nunca dispare com a tampa protetora, você pode danificar a sua arma de pressão de airsoft .
</p>
​​
​​​
<h5>NUNCA OLHE DENTRO DO CANO!</h5>
<p>
    Olhar para dentro do cano é extremamente perigoso.
    Mesmo você tendo certeza que não há nenhuma bolinha em sua arma de pressão de airsoft, não olhe para o cano. Muitos
    acidentes ocorrem exatamente devido a certeza de seus usuários.
    Um disparo acidental no olho pode cegar, por isto não corra o risco.
</p>
​
​​
​
<h5>EVITE PUXAR O GATILHO SEM NECESSIDADE!</h5>
<p>
    Evite puxar o gatilho sem necessidade, você pode causar um acidente.
    Nunca coloque o dedo no gatilho a menos que você vá disparar.
    Muitos acidentes ocorrem por falta de atenção, sendo assim, quando estiver com sua arma de pressão de airsoft ,
    mantenha sempre atenção ao seus atos.
</p>​​

​​
<h5>SEMPRE MANTENHA O CANO APONTADO PARA UMA DIREÇÃO SEGURA!</h5>
<p>Nunca direcione o cano de uma arma de pressão de airsoft na direção de alguém.
    Mantenha-o sempre voltado ao chão.
</p>​
​
<h5>NUNCA USE SUA ARMA DE PRESSÃO DE AIRSOFT EM LOCAIS PÚBLICOS!</h5>
<p>Nunca use sua arma de pressão de airsoft em locais públicos onde carros e pessoas possam passar ou surgir sem aviso.
    O uso em locais públicos não somente pode causar acidentes como problemas com as autoridades locais.
    ​</p>
​
​
<h5>SEMPRE CARREGUE SUA ARMA DE PRESSÃO DE AIRSOFT EM UMA CAIXA OU BOLSA!</h5>
<p>Sempre que você for transportar a sua arma de pressão de airsoft para algum lugar, leve-o sempre dentro de uma caixa
    ou bolsa, juntamente com a nota fiscal ou CII/desembaraço alfandegário.
    Jamais transporte uma arma de pressão de airsoft à vista de outras pessoas, pois isto poderá gerar situações de
    temor perante o público desconhecedor, além de criar problemas com as autoridades locais.
</p>​
​

<h5>NÃO DEIXE SUA ARMA DE PRESSÃO DE AIRSOFT AO ALCANCE DE CRIANÇAS!</h5>
<p>Sempre que você for guardar a sua arma de pressão de airsoft em casa ou qualquer outro lugar, certifique-se que você
    tenha colocado a tampa protetora, retirado a bateria, munição (BBs) e que ela esteja devidamente acondicionado em
    uma caixa ou bolsa longe do alcance de uma criança.
    A arma de pressão de airsoft não deve ser considerada como um brinquedo, por isto não o deixe perto de crianças para
    evitar acidentes.
    ​</p>
​
​
<h5>​TOME CUIDADO POIS A SUA ARMA DE PRESSÃO DE AIRSOFT PODE DISPARAR MESMO SEM O CARREGADOR!</h5>
<p>É possível que mesmo após retirar o carregador da sua arma de pressão de airsoft, alguma bolinha tenha ficado no
    cano, por isto é extremamente perigoso puxar o gatilho neste momento ou ainda, como falado anteriormente colocar o
    olho na frente para visualizar o interior do cano.
    Após retirar o carregador, direcione o cano do seu simulacro para uma direção segura e puxe o gatilho efetuando um
    disparo. Com este procedimento você evita que alguma bolinha permaneça no simulacro. Mesmo assim não olhe dentro do
    cano!!!
    ​</p>

​
<h5>SEMPRE DEIXE O SELETOR DA SUA ARMA DE PRESSÃO DE AIRSOFT EM POSIÇÃO "SAFE"!</h5>
<p>
    Procedimento para guardar o simulacro:</p>
<ol>
    <li>coloque a tampa de proteção;</li>
    <li>posicione o seletor em "SAFE";</li>
    <li>retire o carregador;</li>
    <li>retire a bateria.</li>
</ol>
<p>Com este procedimento você reduz à zero as chances de acidentes.
</p>
​​
​​
<h5>NUNCA DEIXE SEU DEDO NO GATILHO!</h5>
<p>Nunca deixe o seu dedo no gatilho. Este procedimento de segurança é adotado por todas as forças militares e policiais
    além de atiradores. Só coloque o dedo no gatilho quando você estiver pronto para disparar.​
    Manter o dedo no gatilho pode provocar disparos indesejados caso ele seja apertado por acidente.
    ​</p>
​
<h5>NUNCA DESMONTE SUA ARMA DE PRESSÃO DE AIRSOFT SE NÃO SOUBER O QUE ESTÁ FAZENDO!</h5>
<p>Existe um procedimento certo para desmontar e fazer upgrades. Se você não souber como, não faça!
    Fazer um upgrade errado pode danificar seriamente o mecanismo interno.
    Antes de fazer um upgrade, pesquise, pergunte ou ainda busque ajuda de quem sabe. Com isto você pode evitar danos e
    maiores gastos financeiros. Procure saber também os limites de fps aceitos, para não ter uma arma de pressão de
    airsoft proibida de participar em algum evento.
    ​</p>
​
<h5>CONCLUSÃO:</h5>
<p>Jogue sempre de forma segura, seja inteligente e faça bom uso da sua arma de pressão de airsoft. Siga sempre as Leis,
    coloque a HONRA antes da vitória e assim você poderá curtir o airsoft em sua plenitude.
    Não se deixe levar pelas vontades imediatas, siga as Leis, pesquise sempre quando quiser fazer um upgrade,
    observando o lado do custo e benefício.
    Por fim, preze pela sua segurança e dos demais jogadores acima de tudo.
    Airsoft é diversão e não realidade, por isto não se arrisque ou ponha em risco seus companheiros além do necessário.
    Lembre-se, você gosta de simular a realidade, mas você não é um membro da S.W.A.T., forças especiais etc... (caso
    seja, tenho certeza que você saberá até onde ir para se divertir).​
    Bom jogo para todos!
</p>