.navbar-wrapper.affix-top{
  position: relative;
  margin-bottom: -55px;
}

.navbar-wrapper.affix{
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 3000;
}

.offset-navbar{
  margin-top: 90px;
}

.got-header{
  text-align: center;
  background-color: black;
}