<%= form_for(@user, :url => admin_user_path(@user), :class=>"form") do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

            <ul>
                <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <div class="form-group">
        <label><%= f.check_box :enabled %> Habilitado? </label>
    </div>
    <div class="form-group">
        <% Role.all.each do |role| %>
            <label><input name="user[roles][]" type="checkbox" value="<%= role.id %>"
                          <%= "checked" if @user.role? role.name %> /> <%= role.name %></label>
        <% end %>
    </div>
    <div class="form-group">
        <%= f.submit :class => "btn btn-primary" %>
    </div>
<% end %>
