<div class="page-header"><h1>Usuários</h1></div>

<table class="table table-striped table-hover table-bordered">
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Habilitado</th>
        <th>Perfil</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
        <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.enabled %></td>
            <td><%= link_to "Facebook", user.facebook_link %></td>
            <td><%= link_to 'Edit', edit_admin_user_path(user) %></td>
            <td><%= link_to 'Destroy', admin_user_path(user), method: :delete, data: {confirm: 'Are you sure?'} %></td>
        </tr>
    <% end %>
    </tbody>
</table>

