<div class="page-header"><h1>Jogos</h1></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>Quando</th>
                    <th>Onde</th>
                    <th>Quem</th>
                    <th>O Que</th>
                </tr>
                </thead>
                <tbody>
                <% @game_calendars.each do |game_calendar| %>
                    <tr>
                        <td><%= link_to game_calendar.date.strftime("%d/%m/%Y %H:%M"), game_calendar %></td>
                        <td><%= link_to game_calendar.location, game_calendar  %></td>
                        <td><%= link_to game_calendar.provider, game_calendar  %></td>
                        <td><%= link_to game_calendar.title, game_calendar %></td>
                    </tr>
                <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>