<div class="page-header"><h1><%= @game_calendar.title %> - <%= @game_calendar.date.strftime "%d/%m/%Y %H:%M" %></h1>
</div>
<h2>Local</h2>
<p class="well well-lg">
    <% if @game_calendar.map.blank? %>
        <%= @game_calendar.location %>
    <% else %>
        <%= link_to @game_calendar.location, @game_calendar.map %>
    <% end %>
</p>

<h2>Instruções</h2>
<p>
    <%= @markdown.render(@game_calendar.instructions).html_safe %>
</p>

