<%= form_for(@camp, :url => "/admin/camps/" + @camp.id.to_s, :enctype => "multipart/form-data") do |f| %>
    <% if @camp.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@camps.errors.count, "error") %> prohibited this admin_camp from being saved:</h2>

            <ul>
                <% @camp.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="form-group">
        <%= f.label :name %><br/>
        <%= f.text_field :name, :class => "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :picture %><br/>
        <%= f.file_field :picture, :class => "form-control" %>
        <% unless @camp.picture %>
            <%= image_tag @camp.picture.url, :class => "picture-rounded" %>
        <% end %>
    </div>
    <div class="form-group">
        <%= f.label :map %><br/>
        <%= f.text_field :map, :class => "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :description %><br/>
        <%= f.text_area :description, :class => "form-control markitup" %>
    </div>
    <div class="form-group">
        <%= f.submit "Salvar",  :class => "btn btn-primary" %>
    </div>
<% end %>
