<h1>Listing admin_camps</h1>

<table class="table table-striped table-hover table-bordered">
    <thead>
    <tr>
        <th>Name</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <% @camps.each do |camp| %>
        <tr>
            <td><%= camp.name %></td>
            <td><%= link_to 'Edit', edit_admin_camp_path(camp) %></td>
            <td><%= link_to 'Destroy', admin_camp_path(camp), confirm: 'Are you sure?', method: :delete %></td>
        </tr>
    <% end %>
    </tbody>
</table>

<%= link_to 'Novo', new_admin_camp_path %>
