<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @admin_camp.name %>
</p>

<p>
  <b>Description:</b>
  <%= @admin_camp.description %>
</p>

<p>
  <b>Picture:</b>
  <%= @admin_camp.picture %>
</p>

<p>
  <b>Map:</b>
  <%= @admin_camp.map %>
</p>


<%= link_to 'Edit', edit_admin_camp_path(@admin_camp) %> |
<%= link_to 'Back', admin_camps_path %>
