<%
   fixed_class = 'navbar-fixed-top' unless controller.controller_name == 'home' && controller.action_name == 'index'
%>

<nav class="navbar navbar-inverse <%= fixed_class %>" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <%= link_to "G.O.T. Airsoft Team", "/", :class => "navbar-brand" %>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li><%= link_to "Airsoft", airsoft_path %></li>
                <li><%= link_to "Regras", rules_path %></li>
                <li><%= link_to "Campos", camps_path %></li>
                <% if can? :read, GameCalendar %>
                    <li><%= link_to "Jogos", game_calendars_path %></li>
                <% end %>
            </ul>
            <form class="navbar-form navbar-left" role="search">

            </form>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <% unless user_session %>
                        <%= link_to "Entrar", login_path %>
                    <% else %>
                        <%= link_to "Sair", destroy_session_path %>
                    <% end %>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>