<!DOCTYPE html>
<html>
<head>
    <title>GOT</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
</head>
<body>

    <%= render 'layouts/menu' %>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <%= yield %>
        </div>
    </div>
</div>

</body>
</html>
